body {

    background-color: black;
}

#canvas {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 50px;

}

#initial_img {

    display: block;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}

.hidden {
    display: none;
}